.spotDeleteYas {
    color: red
}

.spotDeleteYas:hover {
    cursor: pointer;
    opacity: 0.5;
}

.spotDeleteKeep:hover {
    cursor: pointer;
    opacity: 0.5;
}

.spotDeleteKeep {
    color: darkgrey;
}