.manageSpot-header {
    margin-left: 30px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-bottom: 20px;
    z-index: -1;
}

.manageSpotTop {
    z-index: -1;
}

.manageSpot-button {
    background-color: lavender;
    color: #6247aa;
    border: 2px solid lavender;
    border-radius: 5px;
}


.manageSpot-button:hover {
    cursor: pointer;
    opacity: 0.5;
}

.updateBut {
    background-color: lavender;
    color: #6247aa;
    border: 2px solid lavender;
    border-radius: 5px;
    margin-right: 5px;
}


.updateBut:hover {
    cursor: pointer;
    color: red;
}

.manageSpot-updateDelete >button {
    background-color: lavender;
    color: #6247aa;
    gap: 5px;
    border: 2px solid lavender;
    border-radius: 5px;
    /* gap: 2px; */
}
.manageSpot-updateDelete > button:hover {
    cursor: pointer;
    color: red
}

