.singleSpot-body {
    display: flex;
    flex-direction: column;
    margin: 10px 60px;
    gap: 20px;
}

.firstContainer {
    display: grid;
    grid-template-areas: 
    "a b"
    "c d";
    gap: 5px;
}

.main-image {
    grid-area: c;
    height: 100%;
    width: 100%;
}

/*
not a good idea to do this 
*/
.main-image > img{
    /* width: 80%;
    height: 80%;
    display: fit-content; */
}

div.firstContainer-image {
    grid-area: d;
}

ul.spot-image-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 5px;
}

.firstContainer-info {
    display: flex;
    flex-direction: column;
    gap: 20px;
    grid-area: a;
}

img {
    width: 300px;
    height: 200px;
}

.buttonPriceContainer {
    border: 2px solid lavender;
    border-radius: 5px;
    width: 300px;
    height: 100px;
}

.div-p-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

div.price-container {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

div.reviewPrice-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.star{
    display: flex;
    justify-content: flex-end;
}

.numReview {
    display: flex;
    justify-content: center;
}

.button-container {
    display: flex;
    justify-content: center;
}

.button-container > button {
    width: 80%;
    height: 35px;
    border-radius: 5px;
    border: 2px solid #d2b7e5;
    background-color: lavender;
    color: #6247aa;
}

.star-container {
    display: flex;
    flex-direction: row;
    gap: 20px;
}