.allSpots-container {
    display: grid;
    grid-template-rows: 1fr ;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    /* border: 3px solid blue; */
    margin-top: 50px;
    gap: 20px;
}

.oneSpot-container {
    display: grid;
}

.preview-image > img {
    width: 300px;
    height: 200px;

}

.spotDetails-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.oneSpot-container {
    width: 100%;
    margin-left: 20px;
    width: 250px;
}

div.rating-container > p {
    display: flex;
    justify-content: flex-end;
}

