.hidden {
    display: none
}


.nav-list {
    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid gray;
}

.icon-container {
    margin: 20px 20px 0px 20px;
    display: flex;
    justify-content: center;
    gap: 10px;
    border: 2px solid black;
    border-radius: 20px;
    width: 80px;
    height: 45px;
}

.fa-bars {
    font-size: 20px;
    display: flex;
}

.fa-user-ninja {
    background-color: none;
    width: 20px;
    height: 20px;
    display: flex;
    font-size: 20px;
}

.nav-button {
    display: flex;
    align-items: center;
}

.menu-button {
    background-color: white;
    border: none;
}

.fa-user-ninja:hover {
    cursor: pointer;
}

.fa-bars:hover {
    cursor: pointer;
}

.airbnbLogo {
    width: 120px;
    height: 100px;
}

ul.profile-dropdown {
    width: 100px;
    border: 2px solid #a06cd5;
    border-radius: 20px;
    height: 30px;
}


/* 
.nav-container { */
    /* display: flex; */
    /* width: 100%; */
    /* height: 100%; */
    /* border-bottom: 2px solid gray;
    padding: 0px; */
    /* padding-bottom: 20px; */
/* }

.nav-list { */
    /* display: flex;
    flex-direction: row;
    justify-content: space-between;
    z-index: 10; */
/* }

.nav-list li { */
    /* list-style: none;
    width: 50%; */
/* }

.nav-logo a {
    text-decoration: none; */
    /* display: flex; */
/* }

.nav-profile-button {
    padding: 20px;
    position: absolute; */
    /* z-index: 1; */
/* }

.nav-profile-button button {
    background-color: white;
    border: none;
    border-radius: 100px;
    width: 40px;
    height: 40px; 
} */

/* div.nav-button {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

ul.profile-dropdown {
    width: 100px;
    margin-left: auto;
    border: 3px solid #a06cd5;
    border-radius: 20px;
    z-index: 5;
} */
