.hidden {
    display: none
}

.nav-container {
    width: 100%;
    height: 100%;
    border-bottom: 2px solid gray;
}

.nav-list {
    display: flex;
    flex-direction: row;
    /* justify-content: center; */
    /* gap: 20rem; */
    /* width: fit-content; */
}


.nav-list li {
    list-style: none;
    width: 50%;
}


.nav-logo a {
    text-decoration: none;
}

.icon-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-left: auto;
    border-radius: 20px;
    width: 65px;
    border: 2px solid black;
}

.nav-profile-button {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

li.nav-profile-button {
    display: flex;
    justify-content: flex-end;
    /* align-items: center; */
    /* width: 100%; */
    /* gap: 10px;
    border-radius: 50px;
    height: 20px; */
    /* wid */
     height: 100%;
}

.nav-profile-button button {
    /* display: flex; */
    background-color: white;
    border: none;
    border-radius: 100px;
    width: 40px;
    height: 40px; 
     /* margin-left: auto; */
}

div.nav-button {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}


.fa-user-ninja {
    background-color: none;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
}

.fa-bars {
    font-size: 20px;
    /* width: 40px;
    height: 40px; */
}

.airbnbLogo {
    width: 120px;
    height: 100px;
}


ul.profile-dropdown {
    width: 100px;
    margin-left: auto;
    border: 3px solid #a06cd5;
    border-radius: 20px;
}

div.modal-menu {
    display: flex;
}

#modal-content h1 {
    color: #c19ee0;
}

#modal-content button {
    width: 100px;
    height: 25px;
    background-color: white;
    border: 1px solid #a06cd5;
    box-shadow: 5px 5px 5px #a06cd5;
    color: #a06cd5;
}

form {
    display: flex;
    flex-direction: column;
    gap: 8px;
    color: #dec9e9;
}

input {
    border: 1px solid lavender;
    box-shadow: 5px 5px 5px lavender;
    width: 150px;
    height: 30px;
}

#modal-content {
    width: 50rem;
    height: 20rem;
    border: 3px solid lavender;
    border-radius: 20px;
    box-shadow: 5px 5px 5px lavender;
}


.link-modal:hover {
    cursor: pointer;
}